@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* border: 1px solid red;  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    background-color:#DDEEDF;
}

/*navbar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    background-color: #388E3C;
    align-items: center;
    position: relative;
}

nav img {
    width: 2.5em;
    background-color: #F2F9F1;
    padding: 0.25em;
    border-radius: 0.5em;
}

#logoCompany {
    display: flex;
    align-items: center;
}

#logoCompany span {
    color: #DDEEDF;
    margin: 0 0.5em;
}

.options {
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em; */
}

a {
    text-decoration: none;
    color: #F2F9F1;
    font-size: 1.25em;
}

.hamburger {
    width: 2em;
    height: fit-content;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: #DDEEDF;
    transition: all 0.1s ease-in-out;
}

.hamburger-line1 {
    transform: translateY(-0.25em);
}

.hamburger-line3 {  
    transform: translateY(0.25em);
}

.hamburger-line1.active {
    transform: rotate(45deg) translateY(5px) translate(1px);
}

.hamburger-line3.active {
    transform: rotate(-45deg) translateY(-5px) translate(1px);
}

.hamburger-line2.active {
    transform: scale(0);
}

.options.sidebar {
    position: absolute;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background-color: #F2F9F1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    padding: 1em 1em 0 2em;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    
}

.options.sidebar a {
    color:#388E3C;
}

.options.sidebar.active {
    left: 0;
}

/*main*/
/*headline*/
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main.active {
    opacity: 0.3;
    pointer-events: none;
}

#headline {
    text-align: center;
    padding: 0.25em;
}

#headline img {
    width: 3em;
    padding: 0.25em;
}

#headline h2 {
    color: #388E3C;
    margin-bottom: 0.25em;
}

/*main content*/
#content {
    position: relative;
    border-top: 3px solid #388E3C;

}

.slideProduct {
    display: none;
}

.current {
    display: block;
}

.slideImage {
    height: 300px;
}

.slideImage > a {
    background-color: #DDEEDF;
}

.slideImage img {
    width: 100%;
    height: 100%;
}

.description {
    background-color: #DDEEDF;
    color: #388E3C;
    padding: 0 3em;
    font-weight: 500;
    border-bottom: 3px solid #388E3C;
}

h3 {
    padding-top: 0.5em;
}

h3 + p {
    padding: 0.5em 0 1em 0;
    font-size: 0.75em;
}

/*arrow button*/
.arrowLeft,
.arrowRight {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: 1px solid #DDEEDF;
    color: #DDEEDF;
    font-size: 24px;
}

.arrowLeft {
    top: 45%;
    left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.arrowRight {
    right: 0;
    top: 45%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.arrowLeft:active,
.arrowRight:active {
    background-color: #DDEEDF;
    color:#388E3C;
}

/*sponsors*/

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F9F1;
}

#sponsors {
    display: grid;
    /* border: 1px solid red; */
    background-color: #F2F9F1;
    padding: 1em;
    grid-template: 1fr 1fr/ repeat(3, 1fr);
    gap: 1em;
    /* display: none; */
}

.sponsorSlide {
    background-color:#ffffff;
    padding: 0.5em 1em;
    border:1px solid #388e3c44;
    border-radius: 5px;
}

.sponsorSlide img {
    width: 100%;
    height: 100%;
} 

/*footer*/
footer {
    background-color: #388E3C;
    color: #F2F9F1;
    text-align: center;
    /* margin-top: auto; */
    font-size: 0.75em;
} 

footer.active {
    opacity: 0.3;
}